<label for="input-28">Parametro Um</label><input name="input1" type="text" id="input-28"
        class="inputsExec" tabindex="1" aria-labelledby="label-28" style="margin-bottom: 0px;">
    <div class="verificadoresText">
        <p class="verificacaoCaractere" id="isNum-28">somente números</p>
    </div><button class="btnExec" tabindex="2">Executar</button><label for="input-29">Parametro Dois</label><input
        name="input2" type="text" id="input-29" class="inputsExec" tabindex="1" aria-labelledby="label-29"
        style="margin-bottom: 0px;">
    <div class="verificadoresText">
        <p class="verificacaoCaractere" id="isNum-29">somente números</p>
        <p class="verificacaoCaractere" id="maxLen-29">10 caracteres restantes</p>
    </div><button class="btnExec" tabindex="2">Executar</button><label for="input-30">Parametro Tres</label><input
        name="input3" type="text" id="input-30" class="inputsExec" tabindex="1" aria-labelledby="label-30"
        style="margin-bottom: 0px;">
    <div class="verificadoresText">
        <p class="verificacaoCaractere" id="minLen-30">minimo de caracteres 5</p>
        <p class="verificacaoCaractere" id="maxLen-30">20 caracteres restantes</p>
    </div><button class="btnExec" tabindex="2">Executar</button><label for="input-31">Parametro Quatro</label><input
        name="input4" type="text" id="input-31" class="inputsExec" tabindex="1" aria-labelledby="label-31"
        style="margin-bottom: 0px;">
    <div class="verificadoresText">
        <p class="verificacaoCaractere" id="minLen-31">minimo de caracteres 20</p>
        <p class="verificacaoCaractere" id="maxLen-31">40 caracteres restantes</p>
    </div><button class="btnExec" tabindex="2">Executar</button><label for="input-32">Parametro Cinco</label><input
        name="input5" type="text" id="input-32" class="inputsExec" tabindex="1" aria-labelledby="label-32"
        style="margin-bottom: 0px;">
    <div class="verificadoresText">
        <p class="verificacaoCaractere" id="minLen-32">minimo de caracteres 20</p>
        <p class="verificacaoCaractere" id="isNum-32">somente números</p>
    </div><button class="btnExec" tabindex="2" onclick="Verificador()" type="button">Executar</button>

