<label for="input-40">Parametro Um</label><input name="input1" type="text" id="input-40" class="inputsExec" tabindex="1"
    aria-labelledby="label-40" style="margin-bottom: 0px;">
<div class="verificadoresText">
    <p class="verificacaoCaractere" id="isNum-40">somente números</p>
</div><button class="btnExec" tabindex="2">Executar</button><label for="input-41">Parametro Dois</label><input name="input2"
    type="text" id="input-41" class="inputsExec" tabindex="1" aria-labelledby="label-41" style="margin-bottom: 0px;">
<div class="verificadoresText">
    <p class="verificacaoCaractere" id="isNum-41">somente números</p>
</div><button class="btnExec" tabindex="2" onclick="Verificador()" type="button">Executar</button>
