<label for="input-42">Parametro Um</label><input name="input1" type="text" id="input-42" class="inputsExec" tabindex="1"
    aria-labelledby="label-42" style="margin-bottom: 0px;">
<div class="verificadoresText">
    <p class="verificacaoCaractere" id="isNum-42">somente números</p>
</div><button class="btnExec" tabindex="2">Executar</button><label for="input-43">Parametro Dois</label><input name="input2"
    type="text" id="input-43" class="inputsExec" tabindex="1" aria-labelledby="label-43" style="margin-bottom: 0px;">
<div class="verificadoresText">
    <p class="verificacaoCaractere" id="isNum-43">somente números</p>
</div><button class="btnExec" tabindex="2" onclick="Verificador()" type="button">Executar</button>
