<label for="input-26">Parametro Um</label>
<input name="input1" type="text" id="input-26" class="inputsExec" tabindex="1" aria-labelledby="label-26"
    style="margin-bottom: 0px;">
<div class="verificadoresText">
    <p class="verificacaoCaractere" id="isNum-26">somente números</p>
</div><button class="btnExec" id="btnExec" tabindex="2">Executar</button><label for="input-27">Parametro Dois</label><input
    name="input2" type="text" id="input-27" class="inputsExec" tabindex="1" aria-labelledby="label-27"
    style="margin-bottom: 0px;">
<div class="verificadoresText">
    <p class="verificacaoCaractere" id="isNum-27">somente números</p>
</div>
<button type="button" class="btnExec" tabindex="2" onclick="Verificador()" >Executar</button>

