<div class="containerForms">
    <h5 class="tituloForm">Informações da Procedure</h5>
    <h3>Argumento: PAR5</h3>

    <label>Nome do Argumento:</label>
    <input type="text" name="arg-0-nome_arg" placeholder="Nome do Argumento" class="formsarg" maxlength="100"
        id="id_arg-0-nome_arg"><br>

    <label>Verificação Numeral:</label>
    <input type="checkbox" name="arg-0-isNumero" class="formsarg" id="id_arg-0-isNumero"><br>

    <label>Limite Máximo de Caracteres:</label>
    <input type="checkbox" name="arg-0-isMaxlen" class="formsarg" id="id_arg-0-isMaxlen"><br>

    <label>Máximo de Caracteres:</label>
    <input type="number" name="arg-0-maxlen" value="0" placeholder="Máximo de caracteres" class="formsarg"
        id="id_arg-0-maxlen"><br>

    <label>Verificação Mínima de Caracteres:</label>
    <input type="checkbox" name="arg-0-isMinlen" class="formsarg" id="id_arg-0-isMinlen"><br>

    <label>Mínimo de Caracteres:</label>
    <input type="number" name="arg-0-minlen" value="0" placeholder="Mínimo de caracteres" class="formsarg"
        id="id_arg-0-minlen"><br>

</div>

<div class="containerForms">
    <h5 class="tituloForm">Informações da Procedure</h5>
    <h3>Argumento: PAR4</h3>


    <label>Nome do Argumento:</label>
    <input type="text" name="arg-1-nome_arg" placeholder="Nome do Argumento" class="formsarg" maxlength="100"
        id="id_arg-1-nome_arg"><br>

    <label>Verificação Numeral:</label>
    <input type="checkbox" name="arg-1-isNumero" class="formsarg" id="id_arg-1-isNumero"><br>

    <label>Limite Máximo de Caracteres:</label>
    <input type="checkbox" name="arg-1-isMaxlen" class="formsarg" id="id_arg-1-isMaxlen"><br>

    <label>Máximo de Caracteres:</label>
    <input type="number" name="arg-1-maxlen" value="0" placeholder="Máximo de caracteres" class="formsarg"
        id="id_arg-1-maxlen"><br>

    <label>Verificação Mínima de Caracteres:</label>
    <input type="checkbox" name="arg-1-isMinlen" class="formsarg" id="id_arg-1-isMinlen"><br>

    <label>Mínimo de Caracteres:</label>
    <input type="number" name="arg-1-minlen" value="0" placeholder="Mínimo de caracteres" class="formsarg"
        id="id_arg-1-minlen"><br>

</div>

<div class="containerForms">
    <h5 class="tituloForm">Informações da Procedure</h5>
    <h3>Argumento: PAR3</h3>


    <label>Nome do Argumento:</label>
    <input type="text" name="arg-2-nome_arg" placeholder="Nome do Argumento" class="formsarg" maxlength="100"
        id="id_arg-2-nome_arg"><br>

    <label>Verificação Numeral:</label>
    <input type="checkbox" name="arg-2-isNumero" class="formsarg" id="id_arg-2-isNumero"><br>

    <label>Limite Máximo de Caracteres:</label>
    <input type="checkbox" name="arg-2-isMaxlen" class="formsarg" id="id_arg-2-isMaxlen"><br>

    <label>Máximo de Caracteres:</label>
    <input type="number" name="arg-2-maxlen" value="0" placeholder="Máximo de caracteres" class="formsarg"
        id="id_arg-2-maxlen"><br>

    <label>Verificação Mínima de Caracteres:</label>
    <input type="checkbox" name="arg-2-isMinlen" class="formsarg" id="id_arg-2-isMinlen"><br>

    <label>Mínimo de Caracteres:</label>
    <input type="number" name="arg-2-minlen" value="0" placeholder="Mínimo de caracteres" class="formsarg"
        id="id_arg-2-minlen"><br>

</div>

<div class="containerForms">
    <h5 class="tituloForm">Informações da Procedure</h5>
    <h3>Argumento: PAR2</h3>


    <label>Nome do Argumento:</label>
    <input type="text" name="arg-3-nome_arg" placeholder="Nome do Argumento" class="formsarg" maxlength="100"
        id="id_arg-3-nome_arg"><br>

    <label>Verificação Numeral:</label>
    <input type="checkbox" name="arg-3-isNumero" class="formsarg" id="id_arg-3-isNumero"><br>

    <label>Limite Máximo de Caracteres:</label>
    <input type="checkbox" name="arg-3-isMaxlen" class="formsarg" id="id_arg-3-isMaxlen"><br>

    <label>Máximo de Caracteres:</label>
    <input type="number" name="arg-3-maxlen" value="0" placeholder="Máximo de caracteres" class="formsarg"
        id="id_arg-3-maxlen"><br>

    <label>Verificação Mínima de Caracteres:</label>
    <input type="checkbox" name="arg-3-isMinlen" class="formsarg" id="id_arg-3-isMinlen"><br>

    <label>Mínimo de Caracteres:</label>
    <input type="number" name="arg-3-minlen" value="0" placeholder="Mínimo de caracteres" class="formsarg"
        id="id_arg-3-minlen"><br>

</div>

<div class="containerForms">
    <h5 class="tituloForm">Informações da Procedure</h5>
    <h3>Argumento: PAR1</h3>


    <label>Nome do Argumento:</label>
    <input type="text" name="arg-4-nome_arg" placeholder="Nome do Argumento" class="formsarg" maxlength="100"
        id="id_arg-4-nome_arg"><br>

    <label>Verificação Numeral:</label>
    <input type="checkbox" name="arg-4-isNumero" class="formsarg" id="id_arg-4-isNumero"><br>

    <label>Limite Máximo de Caracteres:</label>
    <input type="checkbox" name="arg-4-isMaxlen" class="formsarg" id="id_arg-4-isMaxlen"><br>

    <label>Máximo de Caracteres:</label>
    <input type="number" name="arg-4-maxlen" value="0" placeholder="Máximo de caracteres" class="formsarg"
        id="id_arg-4-maxlen"><br>

    <label>Verificação Mínima de Caracteres:</label>
    <input type="checkbox" name="arg-4-isMinlen" class="formsarg" id="id_arg-4-isMinlen"><br>

    <label>Mínimo de Caracteres:</label>
    <input type="number" name="arg-4-minlen" value="0" placeholder="Mínimo de caracteres" class="formsarg"
        id="id_arg-4-minlen"><br>

</div>


<button id="btnPublicar" onclick="reload()" type="button">Publicar</button>