<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Inicio</title>
        <link rel="stylesheet" type="text/css" href="../../public/main/css/index.css" />
        <link rel="stylesheet" type="text/css" href="../../public/main/css/procpage.css" />
        <link rel="stylesheet" type="text/css" href="../../public/main/css/applist.css" />


    </head>
    <body>
        <div class="container">
            <div class="menuBurgue" id="menuBurgue">
                <div class="topoMenu">
                    <a class="logoAGILink" id="inicio">
                        
                    <img id="logoAGI" src="../../public/main/img/logoAGI.png">
                </a>
                    <img class="minimizeMenu" id="minimizeMenu" src="../../public/main/img/minimize.png">
                </div>

                <div class="menuOptions" id="menuOptions">    
                    <div id="userTools">

                        <h2 id="tituloUser">Ferramentas</h2>
                        <a id="consultar" class="links">
                            <img class="labelImg" src="../../public/main/img/search.png">
                            Realizar Consulta
                        </a>
                    
                        <a id="alterar" class="links">
                            <img class="labelImg" src="../../public/main/img/pencil.png">
                            Executar Alteração
                        </a>
                    
                    </div>
                    <div class="devTools" id="devTools">
                        <p id="tituloDev">Ferramentas de desenvolvedor</p>

                        <a id="labelNovaProcedure" class="links">
                            <img class="labelImg" src="../../public/main/img/engine.png" alt="Procedure">
                            Inserir Procedure
                        </a>

                        <a id="novaConsulta" class="links">
                            <img class="labelImg" src="../../public/main/img/forms.png">
                            Inserir Consulta
                        </a>
                   
                    </div>
                </div>

                <a id="sair" class="sair" >Sair</a>
            </div>

            <div class="conteudo">

            </div>
        </div>
        <script src="../../public/main/js/jquery-3.7.0.min.js"></script>
        <script src="../../public/main/js/index.js"></script>
        <script src="../../public/main/js/applist.js"></script>
        <script src="../../public/main/js/createprocpage.js"></script>
        <script src="../../public/main/js/formset-template.js"></script>


    </body>
</html>
